<footer>
    <div class="container">
        <div class="footer-container">
            <div class="footer-column footer-column__about animate__fadeInRight wow" data-wow-duration=".5s" data-wow-delay=".2s">
                <a href="/" class="footer-logo">
                    <img src="img/logo.png" alt="">
                </a>
                <div class="footer-title">
                    O nas
                </div>
                <div class="footer-description">
                    Doskonale znamy jak podnieść przyjemność grania na wyższy poziom dzięki biurka, które są rewalacyjny
                    w jakości oraz z nowym typem chłodzenia dzięki czemu temperatura procesora oraz grafiki nie będzie
                    wyższa 30 stopni nawet w gorących momentach
                </div>
            </div>
            <div class="footer-column footer-column__menu animate__fadeInRight wow" data-wow-duration=".5s" data-wow-delay=".3s">
                <div class="footer-block">
                    <div class="footer-title footer-title__line">Strony</div>
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <a href="/" class="footer-menu__link">Home</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="projekty.html" class="footer-menu__link">Projekty</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="specyfikacja.html" class="footer-menu__link">Specyfikacja</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="kontakt.html" class="footer-menu__link">Kontakt</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-block">
                    <div class="footer-title footer-title__line">Usługi</div>
                    <nav class="footer-menu">
                        <ul class="footer-menu__items">
                            <li class="footer-menu__item">
                                <span class="footer-menu__link">Projektowanie</span>
                            </li>
                            <li class="footer-menu__item">
                                <span class="footer-menu__link">Stworzenie</span>
                            </li>
                            <li class="footer-menu__item">
                                <span class="footer-menu__link">Naprawa</span>
                            </li>
                            <li class="footer-menu__item">
                                <span class="footer-menu__link">Modernizacja</span>
                            </li>
                            <li class="footer-menu__item">
                                <span class="footer-menu__link">Nowe koncepty</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer-column footer-column__media animate__fadeInRight wow" data-wow-duration=".5s" data-wow-delay=".4s">
                <div class="footer-title footer-title__line">Media</div>
                <div class="footer-description">
                    Polub nasz blog na mediach żeby więciej wiedzić o nas
                </div>
                <div class="footer-soc">
                    <a href="#" class="footer-soc__item">
                        <span class="icon-vk"></span>
                    </a>
                    <a href="#" class="footer-soc__item">
                        <span class="icon-facebook"></span>
                    </a>
                    <a href="#" class="footer-soc__item">
                        <span class="icon-twitter"></span>
                    </a>
                    <a href="#" class="footer-soc__item">
                        <span class="icon-instagram"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>