<div class="main-container">
    <div class="container">
        <div class="main-container__flex" >
            <div class="main-container__content">
                <div class="title animate__flipInX wow" data-wow-duration=".5s" data-wow-delay=".2s">FostersPC</div>
                <div class="btn animate__flipInX wow" data-wow-duration=".5s" data-wow-delay=".22s">Gaming Power</div>
                <div class="description animate__flipInX wow" data-wow-duration=".5s" data-wow-delay=".24s">
                    Tworzymy twoje marzenia Strworzenia biurek gemingowych pod twoje cele i oczekiwanie
                </div>
            </div>
            <div class="main-container__slider swiper-container animate__zoomIn wow" data-wow-duration=".5s" data-wow-delay=".22s">
                <div class="swiper-wrapper">
                    <div class="main-container__slider__item swiper-slide">
                        <img src="img/slide-1.jpg" alt="">
                    </div>
                    <div class="main-container__slider__item swiper-slide">
                        <img src="img/slide-2.jpg" alt="">
                    </div>
                    <div class="main-container__slider__item swiper-slide">
                        <img src="img/slide-3.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-bar__container">
                        <div class="swiper-bar">
                            <div class="swiper-hero-progress"></div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="index-block">
    <div class="index-pico animate__fadeInLeft wow" data-wow-duration=".5s" data-wow-delay=".2s">
        <img src="img/index-pic.png" alt="">
    </div>
    <div class="index-content">
        <div class="title title-border__top animate__fadeInRight wow" data-wow-duration=".5s" data-wow-delay=".2s">
            Dla czego my?
        </div>
        <div class="index-description animate__fadeInRight wow" data-wow-duration=".5s" data-wow-delay=".22s">
            Torquatos nostros? quos dolores eos, qui dolorem ipsum per se texit, ne ferae quidem se repellere, idque
            instituit docere sic: omne animal, simul atque integre iudicante itaque aiunt hanc quasi involuta aperiri,
            altera occulta quaedam et voluptatem accusantium doloremque.
        </div>
        <a href="specyfikacja.html" class="btn btn_black animate__fadeInRight wow" data-wow-duration=".5s" data-wow-delay=".24s">
            Dodatkowo <span class="icon-arrow-btn"></span>
        </a>
    </div>
</div>