<div class="page">
  <div class="container">
    <div class="title text-center title-page animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">Kontakt</div>
  </div>
  <div class="contact-container">
    <div class="container">
      <div class="contact-content">
        <div class="animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">E-mail: <a href="#" class="contact-mail">zamow@fosterspc.pl</a></div>
        <div class="animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s"><span>Adres: Domaniewskiego 47, 02-672 Warszawa</span></div>
        <div class="animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s"><a href="tel:+48 830 733 360" class="contact-phone">+48 830 733 360</a></div>
      </div>
      <div id="map" class="animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.3280296221537!2d20.99090275165558!3d52.1829098688083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47193325adc46ed7%3A0xd5093c1f9448b15f!2sDomaniewska%2047%2C%2002-672%20Warszawa!5e0!3m2!1spl!2spl!4v1629570080265!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>