<div class="page">
    <div class="container">
        <div class="title text-center title-page animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".2s">Nasze zrealizowane projekty</div>
        <div class="description text-center description-page animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".5s">Przedstawiamy poniżeni najlepsi nasi projekty</div>
        <div class="projecty-items">
            <div class="projecty-item animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">
                <div class="projecty-item__pic">
                    <img src="img/project-1.jpg" alt="">
                </div>
                <div class="projecty-item__content">
                    <div class="projecty-item__title">Standartowa wersja</div>
                    <div class="projecty-item__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer nec magna elementum purus eleifend euismod non consequat dui. Donec consequat nulla a
                        metus egestas, at viverra metus facilisis. Maecenas sed enim sit amet massa aliquam mollis.
                        Vestibulum vitae dictum erat.
                    </div>
                    <a href="kontakt.html" class="projecty-item__btn btn">
                        Zamów
                    </a>
                </div>
            </div>
            <div class="projecty-item animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">
                <div class="projecty-item__pic">
                    <img src="img/project-2.jpg" alt="">
                </div>
                <div class="projecty-item__content">
                    <div class="projecty-item__title">Mini wersja</div>
                    <div class="projecty-item__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer nec magna elementum purus eleifend euismod non consequat dui. Donec consequat nulla a
                        metus egestas, at viverra metus facilisis. Maecenas sed enim sit amet massa aliquam mollis.
                        Vestibulum vitae dictum erat.
                    </div>
                    <a href="kontakt.html" class="projecty-item__btn btn">
                        Zamów
                    </a>
                </div>
            </div>
            <div class="projecty-item animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay="0s">
                <div class="projecty-item__pic">
                    <img src="img/project-3.jpg" alt="">
                </div>
                <div class="projecty-item__content">
                    <div class="projecty-item__title">Wersja z podświetliaczem</div>
                    <div class="projecty-item__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer nec magna elementum purus eleifend euismod non consequat dui. Donec consequat nulla a
                        metus egestas, at viverra metus facilisis. Maecenas sed enim sit amet massa aliquam mollis.
                        Vestibulum vitae dictum erat.
                    </div>
                    <a href="kontakt.html" class="projecty-item__btn btn">
                        Zamów
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>