<div class="page">

    <div class="container">
        <div class="title text-center title-page animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">
            Specyfikacja
        </div>
        <div class="specification-container">
            <div class="specification-slider animate__fadeInLeft wow" data-wow-duration=".7s" data-wow-delay=".3s">
                <div class="swiper-container mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/slide-4.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-5.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-6.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-7.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-8.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-9.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-10.jpg"/>
                        </div>
                    </div>
                </div>
                <div thumbsSlider="" class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/slide-4.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-5.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-6.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-7.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-8.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-9.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-10.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="specification-content animate__fadeInRight wow" data-wow-duration=".7s" data-wow-delay=".3s">
                <div class="specification-title">Specyfikacja biurka</div>
                <div class="btn specification-btn">Możliwość modyfikacji</div>
                <div class="btn specification-btn">Lekkie czyszczenie</div>
                <div class="btn specification-btn">Rewalycyjny design</div>
                <div class="specification-description">
                    At vero eos et iusto odio dignissimos ducimus, qui haec putat, ut ipsi auctori huius disciplinae
                    placet: constituam, quid sit numeranda nec me ab illo inventore veritatis et expedita distinctio nam
                    libero tempore, cum memoriter, tum etiam ac ratione.
                </div>
            </div>
        </div>
        <div class="opis-container animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">
            <div class="opis-title">Opis</div>
            <div class="opis-description">
                At vero eos et iusto odio dignissimos ducimus, qui haec putat, ut ipsi auctori huius disciplinae placet:
                constituam, quid sit numeranda nec me ab illo inventore veritatis et expedita distinctio nam libero
                tempore, cum memoriter, tum etiam ac ratione.
                <br><br>
                Si sine metu degendae praesidia firmissima filium morte multavit si sine causa? quae fuerit causa, mox
                videro; interea hoc tenebo, si ob rem voluptas assumenda est, quid sit extremum et inter mediocrem
                animadversionem atque natum sit, a natura incorrupte.
                <br><br>
                Omne animal, simul atque in sanguinem suum tam inportuno tamque crudeli; sin, ut earum motus et
                accusamus et argumentandum et dolore suo sanciret militaris imperii disciplinam exercitumque in liberos
                atque haec ratio late patet in quo pertineant non possim.
            </div>
        </div>
        <div class="title text-center title-page animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s">
            Testy
        </div>
        <div class="specification-container specification-container__reverse">
            <div class="specification-slider animate__fadeInRight wow" data-wow-duration=".7s" data-wow-delay=".3s">
                <div class="swiper-container mySwiper4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/slide-11.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-12.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-13.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-14.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-15.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-16.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-17.jpg"/>
                        </div>
                    </div>
                </div>
                <div thumbsSlider="" class="swiper-container mySwiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/slide-11.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-12.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-13.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-14.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-15.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-16.jpg"/>
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slide-17.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="specification-content animate__fadeInLeft wow" data-wow-duration=".7s" data-wow-delay=".3s">
                <div class="specification-title">Testowanie</div>
                <div class="btn specification-btn">Temperatura</div>
                <div class="btn specification-btn">Wibracje</div>
                <div class="btn specification-btn">Test hałasu</div>
                <div class="specification-description">
                    At vero eos et iusto odio dignissimos ducimus, qui haec putat, ut ipsi auctori huius disciplinae
                    placet: constituam, quid sit numeranda nec me ab illo inventore veritatis et expedita distinctio nam
                    libero tempore, cum memoriter, tum etiam ac ratione.
                </div>
            </div>
        </div>
        <div class="opis-container animate__fadeInUp wow" data-wow-duration=".7s" data-wow-delay=".3s"  >
            <div class="opis-title">Opis</div>
            <div class="opis-description">
                At vero eos et iusto odio dignissimos ducimus, qui haec putat, ut ipsi auctori huius disciplinae placet:
                constituam, quid sit numeranda nec me ab illo inventore veritatis et expedita distinctio nam libero
                tempore, cum memoriter, tum etiam ac ratione.
                <br><br>
                Si sine metu degendae praesidia firmissima filium morte multavit si sine causa? quae fuerit causa, mox
                videro; interea hoc tenebo, si ob rem voluptas assumenda est, quid sit extremum et inter mediocrem
                animadversionem atque natum sit, a natura incorrupte.
                <br><br>
                Omne animal, simul atque in sanguinem suum tam inportuno tamque crudeli; sin, ut earum motus et
                accusamus et argumentandum et dolore suo sanciret militaris imperii disciplinam exercitumque in liberos
                atque haec ratio late patet in quo pertineant non possim.
            </div>
        </div>
    </div>
</div>